.main__section {
  font-family: 'Montserrat', sans-serif;
  height: 90vh;
  background: #f4cb38;
  background: -webkit-gradient(linear, left top, right top, from(#f4cb38), to(#f4a938));
  background: linear-gradient(90deg, #f4cb38 0%, #f4a938 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  background: url("./img/bg_image.png") 100% 50% no-repeat;
  background-size: 620px 400px;
}

.main__section .container .offer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__section .container .offer_section h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.main__section .container .offer_section h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.main__section .container .offer_section .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  height: 65px;
  width: 150px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50px;
  background: #0c41ff;
  background: linear-gradient(45deg, #0c41ff 0%, #192f7a 100%);
  -webkit-filter: drop-shadow(0 0 0.35rem #0c41ff);
          filter: drop-shadow(0 0 0.35rem #0c41ff);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main__section .container .offer_section .btn:focus,
.main__section .container .offer_section .btn:hover {
  background: #192f7a;
  background: linear-gradient(45deg, #192f7a 0%, #0c41ff 100%);
  -webkit-filter: drop-shadow(0 0 0.55rem #0c41ff);
          filter: drop-shadow(0 0 0.55rem #0c41ff);
}

@media screen and (max-width: 600px) {
  .main__section {
    width: 100%;
    height: 60vh;
  }
  .main__section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: 95vw 30vh;
    background-position: 50% 30%;
  }
  .main__section .container .offer_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .main__section .container .offer_section h1 {
    font-size: 40px;
  }
  .main__section .container .offer_section .btn {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=MainSection.css.map */