.offer__section{
  font-family: 'Montserrat', sans-serif;
  .container{
    width: 1170px;
    margin: 0 auto;
    h2{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 55px;
      font-weight: 700;
    }
    .offers{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2rem;
      .offer__home{
        width: 380px;
        .offer__home_title{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 487px;
          width: 380px;
          background-image: url("./img/house_bg.jpg");
          background-size: cover;  
          background-repeat: no-repeat; 
          background-position: center;
          margin-bottom: .5rem;
          border-radius: 4px;
          
          h3{
            font-size: 25px;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.1rem;
          }   
        }
        p{
          padding: 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5rem;
          background-color: rgb(244,203,56);
          border-radius: 4px;
        } 
      }
      .offer__business{
        width: 380px;
        .offer__business_title{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 487px;
          width: 380px;
          background-image: url("./img/business_bg.jpg");
          background-size: cover;  
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: .5rem;
          border-radius: 4px;
          h3{
            font-size: 25px;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.1rem;
          }
        }
        p{
          padding: 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5rem;
          border-radius: 4px;
          background-color: rgb(244,203,56);
        }
      }
      .offer__farmy{
        width: 380px;
       .offer__farmy_title{
         display: flex;
          align-items: center;
          justify-content: center;
          height: 487px;
          width: 380px;
          background-image: url("./img/farmy_bg.jpg");
          background-size: cover;  
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: .5rem;
          border-radius: 4px;
          h3{
            font-size: 25px;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.1rem;
          }
        }
        p{
          padding: 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5rem;
          border-radius: 4px;
          background-color: rgb(244,203,56);
          
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .offer__section{
    width: 100vw;
    .container{
      width: 95vw;
      h2{
        font-size: 40px;
      }
      .offers{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .offer__home{
          width: 95vw;
          margin-bottom: 1rem;
          .offer__home_title{
            width: 95vw;
          }
        }
        .offer__business{
          width: 95vw;
          margin-bottom: 1rem;
          .offer__business_title{
            width: 95vw;
          }
        }
        .offer__farmy{
          width: 95vw;
          margin-bottom: 1rem;
          .offer__farmy_title{
            width: 95vw;
          }
        }        
      }
    }
  }
}