.realizations__section {
  font-family: 'Montserrat', sans-serif;
}

.realizations__section .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.realizations__section .section__content .container {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.realizations__section .section__content .container .realizations__section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  font-size: 55px;
  font-weight: 700;
}

.realizations__section .section__content .container .realizations__section_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.realizations__section .section__content .container .realizations__section_images img {
  margin-right: 1rem;
}

.slider {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 1.5ms ease;
  transition: all 1.5ms ease;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -30px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 1.5ms ease;
  transition: all 1.5ms ease;
}

.left-arrow:hover,
.right-arrow:hover,
.left-arrow:focus,
.right-arrow:focus {
  font-size: 3.5rem;
}

.slide {
  opacity: 0;
  -webkit-transition-duration: 1s ease;
          transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

@media screen and (max-width: 600px) {
  .realizations__section .section__content .container {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .realizations__section .section__content .container .realizations__section_title {
    font-size: 40px;
  }
  .realizations__section .section__content .container .realizations__section_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .realizations__section .section__content .container .realizations__section_images img {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=Realizations.css.map */