.company__section{
  font-family: 'Montserrat', sans-serif;
  background-color: #dddddd8c;
  .container{
    width: 1170px;
    margin: 0 auto;
    .company__section_title{
      display: flex;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 55px;
      font-weight: 700;
    }
    .company__section_image{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .company__section{
    .container{
      width: 95vw;
      .company__section_title{
        font-size: 30px;
      }
      .company__section_image{
        display: flex;
        flex-direction: column;
        img{
          margin-bottom: 2rem;
        }
      }
    }
  }
}